extends layout

block layout-content
    div.Header
        nav.navbar.navbar-light.bg-light
            a.navbar-brand(href="/user") Home                        
            form.form-inline(action="/logout", method="GET")
                .form-group.mx-sm-3.mb-3
                    h4.nav-item
                        a(href="/editUser") #{username}
                .form-group.mx-sm-3.mb-3
                        a(href="/changePFP")
                            img(src="/image/" + `${pfp}` style="border-radius: 50%" width="48" height="48")     
                .form-group.mx-sm-3.mb-3
                    button.btn.btn-danger(type="submit") Log Out

    .container
        p
            | Change profile picture
            a(href="/changePFP")  here 
            | or by clicking on your profile image
        form(action="/saveUserDetails", method="POST")
            .form-group
                label(for="username") Username
                input.form-control(type="text", name="username" placeholder="Username", value=`${username}`)

            .form-group
                label(for="password") Password
                input.form-control(type="password", name="password", placeholder="password")

            .form-group
                label(for="email") Email
                input.form-control(type="email", name="email", placeholder="example@mail.com", value=`${userMail}`)

            .form-group
                label(for="wigle") WiGLE API Key (Encoded)
                input.form-control(type="text", name="wigle", placeholder="YXFzd2RlZnJndGh6anVraWxvcDI1OHl4Y3Zibm03OC0yMzY6Ymd0emhuanU0NTdhbHM2NWZydDhnYjEyNDd2Y2ZyZDY=")

            .form-group
                label(for="pwnagotchi") Pwnagotchi's pwnfile
                input.form-control(type="text", name="pwnagotchi", value=`${pwnagotchi}` placeholder="ca1225b86dc35fef90922d83421d2fc9c824e95b864cfa62da7bea64ffb05aea")

            script.
                var usedMarkers = !{JSON.stringify(usedMarkers)};
                function getColor(elem) {
                    usedMarkers.forEach(element => {
                        if(elem.style.backgroundColor == element) {
                            alert("Color is in use, please pick another one. And yes, I know about the bug where it selects the color even if it's used. \n I have no fucking idea what is causing this. Will be hopefully fixed in next patch.");
                            return;
                        } 
                        if(elem.style.backgroundColor != element) {
                            document.getElementById("colorPickText").value = elem.style.backgroundColor;
                            document.getElementById("colorPickText").style.backgroundColor = elem.style.backgroundColor;
                        }
                    });
                }

            .form-group
                label(for="pwnagotchi") Map Marker Color
                input.form-control(type="text", name="markerColor" id="colorPickText" value=`${markerColor}` style="color: white; background-color:" + `${markerColor}`)
                table.colorPicker(style="margin-top: 10px")
                    tr
                        td(style="background-color: rgb(0,0,0)" onClick="getColor(this)")
                        td(style="background-color: rgb(243,195,0)" onClick="getColor(this)")
                        td(style="background-color: rgb(154,78,174)" onClick="getColor(this)")
                        td(style="background-color: rgb(243,132,0)" onClick="getColor(this)")
                        td(style="background-color: rgb(161,202,241)" onClick="getColor(this)")
                        td(style="background-color: rgb(190,0,50)" onClick="getColor(this)")
                        td(style="background-color: rgb(185,181,125)" onClick="getColor(this)")
                    tr
                        td(style="background-color: rgb(132,132,130)" onClick="getColor(this)")
                        td(style="background-color: rgb(0,136,86)" onClick="getColor(this)")
                        td(style="background-color: rgb(230,143,172)" onClick="getColor(this)")
                        td(style="background-color: rgb(0,103,165)" onClick="getColor(this)")
                        td(style="background-color: rgb(249,147,121)" onClick="getColor(this)")
                        td(style="background-color: rgb(96,78,151)" onClick="getColor(this)")
                        td(style="background-color: rgb(246,166,0)" onClick="getColor(this)")
                    tr
                        td(style="background-color: rgb(179,68,108)" onClick="getColor(this)")
                        td(style="background-color: rgb(220,211,0)" onClick="getColor(this)")
                        td(style="background-color: rgb(136,45,23)" onClick="getColor(this)")
                        td(style="background-color: rgb(141,182,0)" onClick="getColor(this)")
                        td(style="background-color: rgb(101,69,34)" onClick="getColor(this)")
                        td(style="background-color: rgb(226,88,34)" onClick="getColor(this)")
                        td(style="background-color: rgb(35,47,0)" onClick="getColor(this)")

            .form-group
                button.btn.btn-success(type="submit") Update profile