extends layout

block layout-content
    // h
    div.Header
        nav.navbar.navbar-light.bg-light
            a.navbar-brand(href="/user") Home                        
            form.form-inline(action="/logout", method="GET")
                .form-group.mx-sm-3.mb-3
                    h4.nav-item
                        a(href="/editUser") #{username}
                .form-group.mx-sm-3.mb-3
                        a(href="/changePFP")
                            img(src="/image/" + `${pfp}` style="border-radius: 50%" width="48" height="48")     
                .form-group.mx-sm-3.mb-3
                    button.btn.btn-danger(type="submit") Log Out

    // body
    .container(style="margin-top: 10px")
        // again, error and info badge, displayed only when in URL
        if error
            .alert.alert-danger(role="alert")
                | #{error}
        if info
            .alert.alert-info(role="alert")
                | #{info}

        // wifi map link
        .row(style="margin-top: 10px")
            .col-sm-12
                .card.align-items-center.border-danger
                    .card-body
                        h5.card-title WiFi Map
                        p.card-text Map of all pwned WiFis around the world.
                        a.btn.btn-info(href="/map") Visit

        // recent changes
        .row(style="margin-top: 10px")
            .col-sm-12
                b Most recent changelog:
                .card.border-primary.mb-3
                    .card-header.border-primary
                        i #{log.timestamp}
                    .card-body
                        h5.card-text
                            ul
                                each element in log.changes
                                    li= element
                    .card-footer.border-primary.d-flex.justify-content-left.badgeFooter
                        each badge in log.badges
                            if badge == "ui"
                                span.badge.badge-primary UI
                            if badge == "ux"
                                span.badge.badge-secondary UX
                            if badge == "backend"
                                span.badge.badge-success Backend
                            if badge == "database"
                                span.badge.badge-danger Database
                            if badge == "map"
                                span.badge.badge-warning Map
                            if badge == "user_system"
                                span.badge.badge-info User System
                            if badge == "new_page"
                                span.badge.badge-dark New Page